services:
  userbot:
    build: .
    container_name: telegram-gateway
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./session:/app/session
    depends_on:
      - redis

  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped